.navbar {
  background-color: transparent;
  margin-bottom: 2rem;
  font-family: "Open Sans", sans-serif;
}
.fa-address-book {
  color: darkcyan;
  margin-left: 1rem;
}
.fa-address-book:hover {
  color: darkcyan;
}
.addButton {
  background-color: darkcyan;
  border: none;
  border-radius: 10px;
  color: white;
  margin-right: 1rem;
  padding: 0.5rem;
}
.addButton:hover {
  background-color:cyan;
  color: white;
}
